:root {
  /*
  Dark cyan: hsl(185, 75%, 39%)
Very dark desaturated blue: hsl(229, 23%, 23%)
Dark grayish blue: hsl(227, 10%, 46%)

### Neutral

Dark gray: hsl(0, 0%, 59%) */

  --clr-cyan: hsl(185, 75%, 39%);
  --clr-dark-blue: hsl(229, 23%, 23%);
  --clr-grayish-blue: hsl(227, 10%, 46%);
  --clr-gray: hsl(0, 0%, 59%);

  --fs-base: 0.88rem;
}
