:root {
  --clr-cyan: hsl(185, 75%, 39%);
  --clr-dark-blue: hsl(229, 23%, 23%);
  --clr-grayish-blue: hsl(227, 10%, 46%);
  --clr-gray: hsl(0, 0%, 59%);

  --fs-base: 0.8rem;

  --ff: 'Kumbh Sans', sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--ff);
  background-image: url('../images/bg-pattern-top.svg'),
    url('../images/bg-pattern-bottom.svg');
  background-repeat: no-repeat, no-repeat;
  background-color: var(--clr-cyan);
  background-position: right 48vw bottom 40vh, left 45vw top 44vh;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.clr-dark {
  color: var(--clr-dark-blue);
  font-weight: 700;
}

.clr-grayish-blue {
  color: var(--clr-grayish-blue);
}

main {
  display: grid;
  place-content: center;
  height: 100%;
}
.card {
  border-radius: 15px;
  overflow: hidden;
  max-width: 21rem;
}

header {
  position: relative;
}

header img:nth-child(2) {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 10%);
}

.card {
  margin: 1.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  padding-top: 4rem;
}

.content h1 {
  font-size: 1.2rem;
  font-weight: 700;
}

.content > div {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 0.5rem;
}

.content > div p {
  font-size: 1.2rem;
}

.content > p {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid rgba(150, 150, 150, 0.2);
  width: 100%;
  font-size: var(--fs-base);
}

footer {
  text-align: center;
  font-size: var(--fs-base);
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 1.5rem;
}

footer > div {
  display: flex;
  flex-direction: column;
  row-gap: 0.2rem;
  letter-spacing: 2px;
  font-size: 10px;
}

footer span.clr-dark {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
}
